.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.5em;
}

.title > h1{
    color: #321216;
}

.title > p{
    font-weight: bold;
    color: #895259;
}